.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 800px;
  height: 600px;
  border-radius: 25px;
  background-color: #555;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
  color: white;
}

.bank {
  margin: 0;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 35px;
}

.card h2 {
  margin: 0;
  font-size: 50px;
}

.menu {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card button {
  margin: 0px 10px;
}

.card p {
  margin-left: 30px;
}