.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 1200px;
  height: 800px;
  border-radius: 15px;
  background-color: #555;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
  color: white;
}

.card p {
  margin: 0 10px;
  font-size: 45px;
}

.card img {
  width: 75px;
  height: 75px;
}