* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.gameboard {
	width: 100vw;
	height: 100vh;
	background-image: url("../ressources/Green-background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.gameboard h1 {
	margin: 0;
	padding-top: 25px;
	padding-left: 25px;
	color: white;
}

.token-text-container {
	display: flex;
	align-items: center;
	font-size: 45px;
}

.token-text-container p {
	margin: 0;
  margin-right: 20px;
}

.token-text-container img {
	width: 75px;
	height: 75px;
}

.UI {
	display: flex;
	align-items: flex-start;
	justify-content: right;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	margin: 50px;
	position: fixed;
	color: white;
	top: 0;
	left: 0;
}

/* .token-container {
	margin: 0;
  width: 400px;
  height: 200px;
	padding-top: 25px;
	padding-right: 25px;
	background-color: grey;
}

.token-container p {
	margin: 0;
	font-size: 24px;
} */
