* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.gameboard {
	width: 100vw;
	height: 100vh;
	background-image: url("../ressources/Green-background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.gameboard h1 {
	margin: 0;
	padding-top: 25px;
	padding-left: 25px;
	color: white;
}

.token-text-container {
	display: flex;
	align-items: center;
	font-size: 45px;
}

.token-text-container p {
	margin: 0;
  margin-right: 10px;
}

.token-text-container img {
	width: 65px;
	height: 65px;
}

.UI {
	display: flex;
	align-items: flex-start;
	justify-content: right;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	margin: 50px;
	position: fixed;
	color: white;
	top: 0;
	left: 0;
}

button {
  min-height: 55px;
  min-width: 60px;
  background-color: gold;
  padding: 10px 20px;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 25px;
}
